<div class="mb-3">
    <label for="name" class="form-label">Name</label>
    <input class="form-control" id="name" name="name" value="<%= location.name %>">
</div>
<!-- <div class="mb-3 form-check">
    <input type="checkbox" class="form-check-input" id="checkbox">
    <label class="form-check-label" for="exampleCheck1">Check me out</label>
</div> -->