<h2>Locations</h2>
<form action="/locations" method="GET">
    <div class="mb-3">
        <label for="name" class="form-label">Name</label>
        <input class="form-control" id="name" name="name" value="<%= searchOptions.name %>">
    </div>
    <button type="submit" class="btn btn-primary">Search</button>
</form>
<table class="table">
    <thead>
        <tr>
            <th scope="col">Name</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <% locations.forEach(location=> { %>
        <tr>
            <td><%= location.name %></td>
            <td>
                <div>
                    <a href="/locations/<%= location.id %>/edit">Edit</a>
                    <%- include('../partials/deleteForm', {
                        url: `/locations/${location.id}`
                    }) %>
                </div>
            </td>
        </tr>
        <% }); %>

    </tbody>
</table>