<header>
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">EventApp</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <!-- <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">Home</a>
                    </li> -->
                    <li class="nav-item">
                        <a class="nav-link" href="/">Naslovna stranica</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/events">Dogaaji</a>
                    </li>
                    <% if(user) { %>
                        
                        <% if(user.role === 'User') { %>
                            <li class="nav-item">
                                <a class="nav-link" href="/events/user">Rezervirani dogaaji</a>
                            </li>
                        <% } %>
                        <% if(user.role === 'Organiser') { %>
                            <li class="nav-item">
                                <a class="nav-link" href="/events/organizer">Organizirani dogaaji</a>
                            </li>
                        <% } %>
                        <% if(user.role !== 'Admin') { %>
                            <li class="nav-item">
                                <a class="nav-link" href="/chats">Poruke</a>
                            </li>
                        <% } %>
                    
                    
                        <% if(user.role == "Admin") { %>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                                    aria-expanded="false">
                                    Administracija
                                </a>
                                <ul class="dropdown-menu">
                                    <li>
                                        <a class="dropdown-item" href="/users">Korisnici</a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item" href="/events/admin">Dogaaji</a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item" href="/locations">Lokacije</a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item" href="/categories">Kategorije</a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item" href="/roles">Uloge</a>
                                    </li>
                                    <li>
                                        <hr class="dropdown-divider">
                                    </li>
                                    <li><a class="dropdown-item" href="#">Something else here</a></li>
                                </ul>
                            </li>
                        <% } %>
                    <% } %>
                    <!-- <li class="nav-item">
                        <a class="nav-link disabled" aria-disabled="true">Disabled</a>
                    </li> -->
                    
                </ul>
                <div>
                    <div class="ms-auto">
                        <% if(user) { %>

                            <form method="POST" action="/logout?_method=DELETE">
                                <button type="submit" class="btn btn-danger">Odjava</button>
                            </form>

                        <% } %>

                        <% if(!user) { %>

                            <a class="btn btn-success" href="/login">Prijava</a>

                        <% } %>
                    </div>
                </div>
                <!-- <form class="d-flex" role="search">
                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success" type="submit">Search</button>
                </form> -->
            </div>
        </div>
    </nav>
</header>