<div class="container float-div text-center d-flex justify-content-center align-items-center"  id="homepage-welcome">
    <div>
        <h1 class="welcome-header">DOBRODOŠLI</h1>
        <p class="welcome-text">Pratite događaje oko vas!</p>
    </div>
</div>
<div class="container float-div text-center">
    <h2>Najnoviji događaji</h2>
    <hr/>
    <br>

    <div class="d-flex justify-content-center">
        <% events.forEach(event=> { %>

        <div class="d-flex justify-content-center" style="width: 100%;">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="<%= event.posterImagePath %>" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title"><%= event.name %></h5>
                    <p class="card-text"><%= event.location.name %></p>
                    <a href="/events/<%= event.id %>" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>
        <% }); %>
    </div>
    <br>
    <br>
</div>