<h2>Register</h2>
<form action="/register" method="POST">
    <div class="mb-3">
        <label for="username" class="form-label">Username</label>
        <input type="email" class="form-control" id="username" name="username" required>
      </div>
      <div class="mb-3">
        <label for="password" class="form-label">Password</label>
        <input type="password" class="form-control" id="password" name="password" required>
      </div>
      <div class="mb-3">
        <label for="confirmPassword" class="form-label">Confirm password</label>
        <input type="password" class="form-control" id="confirmPassword" name="confirmPassword">
      </div>
      <div class="form-check">
        <input type="checkbox" class="form-check-input" id="organiser" name="organiser">
        <label class="form-check-label" for="organiser">Organizator</label>
      </div>

    <button type="submit" class="btn btn-primary">Submit</button>
</form>