<form class="register-form" action="/register" onSubmit="return checkPassword(this)" method="POST">
  <h2>Registracija</h2>
  <br>
  <div class="mb-3">
    <label for="username" class="form-label">Korisničko ime</label>
    <input type="email" class="form-control" id="username" name="username" required>
  </div>
  <div class="mb-3">
    <label for="name" class="form-label">Vaše ime</label>
    <input class="form-control" id="name" name="name" required>
  </div>
  <div class="mb-3">
    <label for="password" class="form-label">Lozinka</label>
    <input type="password" class="form-control" id="password" name="password" required>
  </div>
  <div class="mb-3">
    <label for="confirmPassword" class="form-label">Potvrdite lozinku</label>
    <input type="password" class="form-control" id="confirmPassword" name="confirmPassword" required>
  </div>
  <div class="form-check">
    <input type="checkbox" class="form-check-input" id="organiser" name="organiser">
    <label class="form-check-label" for="organiser">Organizator</label>
  </div>
  <div class="login-error fw-bold mt-2" id="loginError" name="loginError">
    <%= messages.error %>
  </div>
  <br>
  <button type="submit" class="btn btn-success">Registracija</button>
</form>

<script>
  function checkPassword(form) {
    password = form.password.value;
    confirmPassword = form.confirmPassword.value;
    loginError = document.getElementById('loginError');
   
    if (password != confirmPassword) {
        loginError.innerHTML = "Lozinke se ne poklapaju!";
        return false;
    } else {
      loginError.innerHTML = "";
        return true;
    }
}
</script>