<div class="float-div">
    <h3 class="site-header">UREĐIVANJE ULOGE</h3>
    <form action="/roles/<%= role.id %>?_method=PUT" method="POST" class="p-2">
        <%- include('_form_fields') %>
        <div class="d-flex justify-content-end">
            <button type="submit" class="btn btn-primary">Pohrana</button>
        </div>
    </form>
</div>