<div class="float-div">
    <h3 class="site-header">ULOGE</h3>
    <br>
    <form class="d-flex" action="/roles" method="GET">
        <div class="mb-3 mx-2 flex-fill">
            <label for="name" class="form-label">Ime</label>
            <input class="form-control" id="name" name="name" value="<%= searchOptions.name %>">
        </div>
        <div class="mb-3 mx-2">
            <label class="form-label">&nbsp;</label>
            <button type="submit" class="form-control btn btn-primary">Pretraga</button>
        </div>
    </form>
</div>
<div class="float-div">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Uloga</th>
                <th style="width: 100px;">
                    <div class="d-flex justify-content-end">
                        <a href="/roles/new" class="btn btn-success"><i class="bi bi-plus-circle"></i></a>
                    </div>
                </th>
            </tr>
        </thead>
        <tbody>
            <% roles.forEach(role=> { %>
            <tr>
                <td><%= role.name %></td>
                <td>
                    <div class="d-flex justify-content-end">
                        <a href="/roles/<%= role.id %>/edit" class="btn btn-primary me-2"><i class="bi bi-pencil"></i></a>
                        <%- include('../partials/deleteForm', {
                            url: `/roles/${role.id}`
                        }) %>
                    </div>
                </td>
            </tr>
            <% }); %>
        </tbody>
    </table>
</div>