<h2>Roles</h2>
<form action="/roles" method="GET">
    <div class="mb-3">
        <label for="name" class="form-label">Name</label>
        <input class="form-control" id="name" name="name" value="<%= searchOptions.name %>">
    </div>
    <button type="submit" class="btn btn-primary">Search</button>
</form>
<table class="table">
    <thead>
        <tr>
            <th scope="col">Name</th>
            <th><a href="/roles/new">Add Role</a></th>
        </tr>
    </thead>
    <tbody>
        <% roles.forEach(role=> { %>
        <tr>
            <td><%= role.name %></td>
            <td>
                <div>
                    <a href="/roles/<%= role.id %>/edit">Edit</a>
                    <%- include('../partials/deleteForm', {
                        url: `/roles/${role.id}`
                    }) %>
                </div>
            </td>
        </tr>
        <% }); %>

    </tbody>
</table>