<div class="float-div">
    <h3 class="site-header">NOVA KATEGORIJA</h3>
    <form action="/categories" method="POST" class="p-2">
        <%- include('_form_fields') %>
        <div class="d-flex justify-content-end">
            <button type="submit" class="btn btn-primary">Pohrana</button>
        </div>
    </form>
</div>